@using CuaHangThucPham.Models
@model IEnumerable<SanPham>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    //khoi tao control WebGrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 6);
}

<h2>Index</h2>

<h2>Sản phẩm</h2>
@*the hien du lieu thong qua control webGrid*@
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "girdAltRow",
    columns: grid.Columns(
        grid.Column("MaSP", "Mã sản phẩm"),
        grid.Column("TenSP", "Tên sản phẩm"),
        grid.Column("SoLuongTon", "Số lượng tồn"),
        grid.Column("HinhAnh", "Hình ảnh", format: p => @Html.Raw("<img width=\"120\" height=\"160\" src=\"../hinhanh/" + p.HinhAnh + "\">")),
        grid.Column(format: p => @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id = p.MaSP })),
        grid.Column(format: p => Html.ActionLink("Xoá", "Xoa", new { id = p.MaSP }))

        )

    )
<a href="@Url.Action("TaoMoi","QuanLySanPham")" class="TaoMoi">Thêm mới</a>
@*css cho tung style cua table*@
<style>
    .gridTable {
        width:100%;
        border: 1px solid #808080;

    }
    .gridTable td {
        border:1px solid #999999;
    }
    .gridHead {
        background-color:green;
    }
    .gridHead>th>a {

        color:white;

    }
    .gridFooter {
        font-weight:bold;
    }
    .TaoMoi {
        background: #333;
        padding: 10px 1.5em;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -o-border-radius: 7px;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        display: block;
        font-weight:600;
        text-align: center;
        width: 12%;
        margin: 3em 3em 0 auto;

    }
    @*.gridRow {
        color:white;
        background-color:blueviolet;
    }
    .girdAltRow{
        color:white;
        background-color:orange;
    }*@
</style>
<style>
    .FooterAdmin {
        display: none;
    }
</style>
